{% extends 'layout.html' %}
{% block content %}
    <center>
        <div class="container">
            <div class="jumbotron">
              <h1>Sigue Aprendiendo Con Flask</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque dolorum sint harum sunt ipsam perspiciatis placeat vero obcaecati ipsum, similique libero quasi et cum labore, tenetur nihil aperiam? Mollitia vitae officiis, magnam iure, illum facere nobis at alias dicta incidunt, minima eveniet voluptatem autem repudiandae asperiores! Ipsum ut qui, ea nemo aliquam et magni quae eligendi sequi. Impedit unde, harum id facere vitae consequuntur sint? Qui velit ad iusto eligendi quos iure ipsum ut nisi, esse deleniti reprehenderit vel mollitia veritatis nam. Cumque, quae itaque doloremque eum, nesciunt doloribus sint debitis nisi dicta modi impedit ea fuga corrupti! Cumque, similique!</p>
              <p><a class="btn btn-primary btn-lg" href="/item" role="button">Pulsa Aqui</a></p>
            </div>
            </div>
    </center>
{% endblock %}
